@import "config";

* {
  border-radius: 5px;

  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;

  overflow-wrap: break-word;
  word-break: break-word;
}

.task-row,
button {
  cursor: pointer;
}

th:hover,
td:hover {
  background-color: lighten($secondary-color, 20%);
}

.max-container {
  max-width: $screen-width;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
}

.container {
  max-width: 60vw;
  padding: 0 1rem;
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 900;

  &:hover {
    opacity: 0.9;
    @include set-color-and-bg($nice-color);
  }
}

.btn {
  &-primary {
    @extend %btn-shared;
    @include set-color-and-bg($primary-color);
  }

  &-secondary {
    @extend %btn-shared;
    @include set-color-and-bg($secondary-color);
  }

  &-light {
    @extend %btn-shared;
    @include set-color-and-bg($light-color);
  }

  &-dark {
    @extend %btn-shared;
    @include set-color-and-bg($dark-color);
  }

  &-small {
    @extend %btn-shared;
    border-radius: 5px;
    font-weight: 400;
    padding: 0rem;
    border: 2px solid $primary-color;
    @include set-color-and-bg($light-color);

    &:hover {
      @include set-color-and-bg($dark-color);
    }
  }

  &-remove {
    @extend %btn-shared;
    font-size: 16px;
    background-color: transparent;
    color: red;
    padding: 0;
  }
}
