@import "utils";
@import "config";

.layout-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .todo-wrapper {
    .todo {
      min-height: 20vh !important;
      width: 100%;
      margin-bottom: 10px;
      padding: 5px;
    }
    #moveToToday-button {
      width: 100%;
      text-align: center;
      border-radius: 7px;
      margin-bottom: 10px;
    }
  }
}

h2 {
  width: 100%;
  border-bottom: 2px solid $secondary-color;
  font-size: 1.2rem;
}

.todo {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ul {
    width: 100%;
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 3px;
      padding: 2px;
      border-bottom: 2px solid gray;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $secondary-color;
      }
    }
  }
}

.timer-starts {
  background: rgb(237, 61, 61);
}

#current-task-dislay {
  @include set-color-and-bg($nice-color);
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#input-control {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  * {
    margin: 5px;
  }

  .input-wrapper {
    position: relative;

    #task-input {
      width: 50vw;
      font-size: 1.5rem;
      align-self: stretch;
      background: transparent;
      text-decoration: none;
      border: none;
      border-bottom: 3px solid $primary-color;
      color: $primary-color;

      &:focus {
        outline: none;
      }
    }

    #clear-input {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .hidden {
      display: none;
    }
  }

  .input-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    select {
      padding-left: 7px;
      padding-right: 7px;
      margin: 2px;
    }
  }
}

table {
  white-space: nowrap !important;
  border-spacing: 0px;
  margin-top: 20px;
  font-size: 1rem;
  cursor: default;
  width: 100%;
}

tr {
  position: relative;

  th {
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    // achieves the same visual effects as a bottom and right border
    // Hack, since border do not work well with two colors and I can not use
    // border-collapse: seperate; as I will be dynaimcally adding elements to tr
    // it creates a visual defect
    box-shadow: -3px 0px 0px inset #fff, 0px -2px 0px inset #333;
  }
}

td {
  max-width: calc(60vw / 4) !important;
  position: relative;
  overflow: hidden;
  padding: 10px;
  // refer to th for reasons to use box-shadow
  box-shadow: -3px 0px 0px inset #fff, 0px -1px 0px inset #aaa;

  #category-filter {
    height: 100%;
    width: 100%;
  }

  #description-filter {
    text-decoration: none;
    border: none;
    outline: none;
    border-bottom: 2px solid $primary-color;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
  }
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}
.text-red {
  color: red;
}
